<ion-item class="item">
  <ion-avatar aria-hidden="true" slot="start" (click)="onCheckboxChange()">
    <img *ngIf="source.icon !== undefined && source.icon !== ''" [src]="source.icon" alt="" />
    <div *ngIf="source.icon === undefined || source.icon === ''" class="initial-circle">
      {{ source.name.charAt(0) | uppercase }}
    </div>
  </ion-avatar>
  <div (click)="onCheckboxChange()">
    <ion-label>{{source.name}}</ion-label>
  </div>
  <ion-checkbox slot="end" [checked]="source.selected" (click)="$event.stopPropagation()" (ionChange)="onCheckboxChange()"></ion-checkbox>
</ion-item>