<div class="event-footer">
  <div class="row">
    <div class="col ion-padding-end">
      <img class="source-icon" *ngIf="event.source!.icon !== undefined && event.source!.icon !== ''" [src]="event.source!.icon" alt="" />
      <div *ngIf="event.source!.icon === undefined || event.source!.icon === ''" class="initial-circle">
        {{ event.source!.name.charAt(0) | uppercase }}
      </div>
    </div>
    <div class="main-col">
      <div class="source-name">{{event.source!.name}}</div>
      <div class="date">{{ event.lastUpdate | date:'dd/MM/yyyy HH:mm' }}</div>
    </div>
    <div class="row" *ngIf="event.showStats || ownerMode">
      <ion-icon class="read-icon" name="eye-outline"></ion-icon>
      {{event.read | number:'1.0-0':'es-ES'}}
    </div>
  </div>
</div>