.form-item-title {
    padding-bottom: 8px;
}

.attachments-header {
    align-items: flex-end;
}

.attachments-content {
    border: 1px solid var(--ion-color-medium);
    margin-top: 8px;
    border-radius: 4px;
}