<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="header-img">
      <img src="assets/icon/brandname.png" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ion-padding">
    <div class="title text-center ion-padding">Nuestros planes</div>

    <div class="ion-padding">
      <div class="create-btn text-end ion-padding-bottom">
        <ion-button class="margin-right" fill="outline" shape="round" (click)="back()">Volver</ion-button>
      </div>

      <div class="text-center ion-padding">Elige el plan que mejor se adapte a tus necesidades.</div>

      <div class="plan-selector-grid">
        <app-payment-plan *ngFor="let p of plans" [plan]="p" [selected]="p.name == selectedPlan " (doAction)="selectPlan(p)"></app-payment-plan>
      </div>
    </div>
  </div>
</ion-content>