.content {
    max-width: 670px;
    margin: auto;
}

ion-card {
    color: black;
}

.initial-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--ion-color-primary);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.source-icon {
    max-height: 80px;
}

.card-title {
    font-size: 22px;
    color: var(--ion-color-primary);
}

.statistics {
    align-items: normal;
}

.statistic {
    flex: 1;
}

.statistic ion-card {
    min-height: 180px;
}

.statistics-data {
    justify-content: flex-end;
}
.statistics-disclaimer {
    font-style: italic;
}

.plan-detail, .payments {
    flex: 1;
}

.plan-detail ion-card, .payments ion-card {
    height: 300px;
}

.plan-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.plan-content {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0;
    text-align: left;

    & li {
        display: flex;
        align-items: center;
        margin-bottom: 0.75rem;
        font-size: 1rem;
    }

    & ion-icon {
        margin-right: 0.5rem;
        color: #10B981;
    }
}
