<ion-app>
  <div class="spinner" *ngIf="loading">
    <ion-spinner color="secondary"></ion-spinner>
  </div>

  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="showMenu">
      <ion-content>
        <ion-list id="inbox-list">
          <div class="brand ion-padding">
            <img class="ion-padding" src="assets/icon/brandname.png"/>
          </div>

          @for (p of appPages; track p; let i = $index) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" detail="false" [button]="true" (click)="logout()">
              <ion-icon aria-hidden="true" slot="start" [ios]="'exit-outline'" [md]="'exit-sharp'"></ion-icon>
              <ion-label>Cerrar Sesión</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <div class="brand-url text-center ion-padding-top">
          <a href="https://www.comunikame.es" target="_blank">www.comunikame.es</a>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
