.container {
    height: 100%;
    overflow: hidden;
}

.main-container {
    flex: 1;
    overflow-y: auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
}

.brand-container {
    max-width: 400px;
    padding: 32px 64px;
    border-right: 1px solid var(--ion-color-light-tint);

    /* centrado vertical */
    display: flex;
    flex-direction: flex-start;
    justify-content: center;
    align-items: center;

    /* fija */
    position: sticky;
    top: 0;
    height: 100vh;
}

.error {
    color: var(--ion-color-danger);
    padding-bottom: 64px;
    text-align: justify;
}

.form {
    width: 300px;
    padding-bottom: 32px;
}

.button {
    width: 180px;
}

@media (max-width: 780px) {
    .brand-container {
        display: none;
    }
}

ion-input.ion-valid {
    --border-color: var(--ion-color-step-300, var(--ion-background-color-step-300, #b3b3b3));
    --highlight-color: var(--ion-color-primary);
    --border-style: solid;
}