.container {
    padding-bottom: 180px;
}

.event-title {
    color: var(--ion-color-primary);
    font-size: 22px;
    font-weight: bold;
}

.event-description {
    text-align: justify;
}

.footer {
    position: fixed; 
    bottom: 0;       
    left: 0;           
    right: 0;          
    z-index: 1000;
    padding: 10px 16px;  

    padding: 16px;
    background-color: var(--ion-color-light);
  
  }