<div class="pricing-card" [ngClass]="{ 'selected-plan': selected }">
  <h2>{{plan.name}}</h2>
  <ul class="pricing-features">
      <li><ion-icon name="checkmark-circle-outline"></ion-icon>{{plan.ads ? 'Con anuncios' : 'Sin anuncios' }}</li>
      <li><ion-icon name="checkmark-circle-outline"></ion-icon>{{plan.subscriptions == 'Ilimitado' ? 'Ilimitado' : 'Hasta ' + (plan.subscriptions | number:'1.0-0':'es-ES') + ' suscriptores'}}</li>
      <li><ion-icon name="checkmark-circle-outline"></ion-icon> {{plan.notifications == 'Ilimitado' ? 'Ilimitado' : 'Hasta ' + (plan.notifications | number:'1.0-0':'es-ES') + ' al mes'}}</li>
  </ul>
  <div class="pricing-price">
      <span class="price-value">{{plan.price}}€</span>
      <span class="price-period">al mes</span>
  </div>

  <ion-button *ngIf="!selected && !readOnly" color="secondary" expand="block" shape="round" (click)="performAction()">
    <ng-container *ngIf="!update">Elegir plan</ng-container>
    <ng-container *ngIf="update">Actualizar plan</ng-container>
  </ion-button>
  <ion-button *ngIf="selected" color="primary" disabled expand="block" shape="round">Plan actual</ion-button>  
 
</div>