<div class="download-app-banner text-center ion-padding">
  <div class="title">¿Quieres estar siempre informado?</div>
  <div><b>Descarga</b> gratis la App <b>ComuniKame</b> y <b>sigue</b> a <b>{{sourceName}}</b> para no perderte ninguna novedad.</div>
  <div class="buttons ion-padding">
    <a href="https://play.google.com/store/apps/details?id=com.adrcanfer.comunikame&pcampaignid=web_share" class="google-play-button" target="_blank">
      <img class="ion-padding store-image" src="assets/store/google-play.png"/>
    </a>
    <a href="https://apps.apple.com/es/app/comunikame/id6751772884" class="app-store-button" target="_blank">
      <img class="ion-padding store-image" src="assets/store/app-store.png"/>
    </a>
  </div>
  <div class="ion-padding text-start steps">
    <div class="ion-padding-bottom">Los pasos son fáciles:</div>
    <div class="step">1. <b>Descarga</b> la App.</div>
    <div class="step">2. <b>Busca</b> '{{sourceName}}'.</div>
    <div class="step">3. <b>¡Sigue!</b></div>
  </div>
</div>
